rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /reservas/{docId} {
      allow create: if true;
      allow read: if true;
      allow update, delete: if request.auth != null;
    }
  }
}
